[2012-05-01 18:59] FerryT opened #1 "Note to myself"
Remove local and remte adresses from sockets for now.
Replace with a request if needed in the future.

Listen to port.
Add bind to udp sockets
Add shout, sendto, recvfrom to udp sockets. Remove send and recv.
Add support for non blocking sockets when needed.

Keep track if a tcp socket is listening.

[2012-05-14 09:20] #1 closed, assigned to nobody

[2012-05-19 10:58] timvdalen opened #4 "De namen van clients die later joinen worden niet naar eerdere clients verstuurd"
Situatie: Drie spelers, A, B en C.

Hoe te reproduceren:
A host een game.
B joined deze game.
C joined deze game.
B zegt: Test
A, B, en C zien dit bericht goed.
C zegt: Ook test.
A en C zien dit bericht goed, B heeft geen informatie over de naam van C, dus ziet: <>: Ook test.

[2012-05-19 12:46] FerryT commented on #4
Ik heb hem gevonden, er zat een rotte macro in. Ik ga hem zo pushen

[2012-05-19 12:51] #4 closed, assigned to nobody

[2012-06-03 16:54] timvdalen opened #15 "Meerdere textures laden niet"
Misschien doe ik het niet goed, maar als ik meerdere textured objecten heb dan krijgen ze allemaal de texture van het object dat hiërarchisch gezien het laagste is.

Deze issue is te reproduceren door de laatste versie van de game (met textured world bounds en terrain).

Ik krijg geen foutmeldingen van libpng; die zijn er wel als ik een file opgeef die niet bestaat.

[2012-06-03 23:16] FerryT commented on #15
Hmm dat zou ik moeten testen; ik zal er morgen eens naar kijken.

[2012-06-04 10:20] Heightened opened #16 "Access violation"
Bij het inladen van de textures gaat er iets fout op windows.
Compilen gaat goed, en het programma draait prima wanneer geen van de textures worden gevonden.
Als er wel textures ingeladen worden geeft het programma een unhandled exception (access violation) bij  "png_read_info(png, info);" op line 85 in image.cpp.

Mogelijk gerelateerd aan #15.

[2012-06-04 13:09] timvdalen commented on #15
Als je nog hulp nodig hebt met het testen sta ik op standby ;)

[2012-06-04 13:50] FerryT commented on #15
oh was ik nog vergeten te zeggen: met de laatste pull request zou dat nu moeten werken.

edit:
Hier is wat code wat je kan gebruiken om het te zien.

[code]

[2012-06-04 13:56] timvdalen commented on #15
Ah geweldig, ik ga het gelijk testen. Wat was de oorzaak?

[2012-06-04 13:59] FerryT commented on #15
Schijnbaar moet je iedere keer textures disablen nadat je ze gebruikt hebt

[2012-06-04 14:13] timvdalen commented on #15
Hrm, ik krijg het nog niet helemaal werkend. Waarschijnlijk doe ik het verkeerd, zou je eens naar objects.h:113 (https://github.com/timvdalen/OGO-2.3/blob/master/src/game/objects.h#L113) willen kijken? Ik krijg nu (en zo zag het er bij Carl ook uit, behalve dat bij mij de kubus wel werkt) al mijn andere objecten oranje en de cube wel goed gekleurd.

Als ik showGrid op Terrain aan heb staan dan zie

[2012-06-04 14:13] timvdalen commented on #15
Oh, had je comment even gemist. Daar ga ik mee aan de slag dan.

[2012-06-04 14:19] FerryT commented on #15
Het is belangrijk dat je overal ObjectHandle en MaterialHandle gebruikt bij members anders werken de overridden methods niet. Ik check morgen wel of daar dingen fout gaan.

[2012-06-04 14:34] timvdalen commented on #15
Ah. Ik ben bang dat ik daar vaak fouten heb gemaakt. Mag ik ook een Handle naar een derived Object gebruiken? Aangezien ik members van Terrain nodig heb.

We lopen er morgen dan wel even doorheen.

[2012-06-04 15:22] FerryT commented on #16
Ik heb geen idee wat dit kan veroorzaken; libpng zou de error handeling intern moeten doen. Misschien falen longjumps in MSVC. Nouja ik kijk er morgen wel naar.

[2012-06-06 15:17] FerryT commented on #15
Dit werd veroorzaakt door de volgorde waarin idngen geinitialiseerd worden. textures loaden moet zodra de renderpipe opgezet is. Het is bij deze gefixt.

[2012-06-06 15:17] #15 closed, assigned to FerryT

[2012-06-06 15:18] FerryT commented on #16
Dit lag aan Carl's compiler

[2012-06-06 15:18] #16 closed, assigned to FerryT

[2012-06-08 08:56] KAYLukas opened #21 "Camera en spelers grens-gedrag"
De speler moet nog gebound worden naar de bounds van de terrein. De camera mag niet direct naar beneden kijken om het huidige gedrag te voorkomen. De oplossingen hiervoor lijken me straightforward. Echter, om de oplossing te kunnen implementeren moet de controller (tenminste dat lijkt mij de logische plek om de bound af te dwingen) de bounds van het terrein weten. Dit kan via een parameter of de c

[2012-06-08 10:24] KAYLukas commented on #21
Ik heb het laatste probleem geimplementeerd als in het filmpje nu. Ik weet alleen niet wat we willen met het eerste gedeelte, dus daar wil ik nog wel graag antwoord op :D

[2012-06-08 10:26] KAYLukas opened #22 "Muis moet een bepaalde snelheid hebben om de camera te kunnen veranderen"
Als je je muis heel langzaam beweegt, beweegt de camera helemaal niet (althans bij mij). Is dit gedrag dat wij willen? Is af en toe nog al irritant, omdat hij soms hakkelt. Hebben jullie dit probleem ook?

[2012-06-08 10:33] FerryT commented on #22
Dit was bij design maar ik hoor van sommige mensen die ik niet nader zal noemen ten behoeve van Carl dat het stront irritant is. Ik zal kijken als ik tijd over heb dan zal ik d'r wat aan doen.

[2012-06-08 11:27] FerryT commented on #21
De huidige camera standpunten kloppen gewoon nog niet. Bij de third person view moet hij over de linker of rechter schouder van het personage kijken. Hij kijkt nu naar de origin. Ik denk dat als de camera altijd net iets hoger dan dat punt staat hij simpelweg niet in de grond kan kijken. Bij first person view moet de camera simpelweg een stuk omhoog (ongeveer op oog hoogte dus). We zuden de vertic

[2012-06-08 11:34] KAYLukas commented on #21
Ik heb de verticale kijkhoek al gelimiteerd, en dat over schouder kijken, moet niet een ingewikkeld probleem zijn. Echter, heb ik de modellen nog niet ingeladen dus kon ik niet echt zien hoe het er uit moet zien. Maar ik kan misschien vanavond daar ff naar kijken.

Ga jij maar bezig aan belangrijke dingen idd :P.

[2012-06-08 11:35] KAYLukas commented on #21
Maar mijn vraag was meer of jullie het er mee eens zijn als ik een parameter toevoeg in de klasse controller waar de bounds in staan. (en misschien dan ook in de constructor)

[2012-06-08 11:43] FerryT commented on #21
Dat mag je als constante aan de class toevoegen in de header

[2012-06-08 17:12] KAYLukas commented on #21
Opgelost, is verwerkt

[2012-06-08 17:12] #21 closed, assigned to KAYLukas

[2012-06-08 17:13] KAYLukas commented on #22
Ik denk dat het probleem misschien ook aan het verschil in fps zit, aangezien we alles laten afhangen van je fps en mijn machine iets minder fps haalt zal hij wat meer moeite hebben om de camera te bewegen.

[2012-06-08 23:28] FerryT opened #26 "Handle types van niet base classes"
Zouden jullie geen handles willen gebruiken van niet base classes? [bijvoorbeeld hier](https://github.com/timvdalen/OGO-2.3/blob/master/src/game/structures.h#L21)
De base class is dus de class die nergens van inherit. Als je types van handles van types gaat assignen gaat hij inplaats van de reference te kopieren het object eerst casten en daarna een kopie in de handle opslaan. Dat gaat echt fout a

[2012-06-09 09:51] FerryT opened #28 "Camera staat niet op de goede plaats"
In third person view kijkt de camera naar de origin van de speler. Het is de bedoeling dat de speler dan over zijn linker of rechter schouder kijkt, De camera target moet dus een stuk omhoog en de camera een stuk naar links of rechts.

In first person view staat de camera letterlijk op de origin; hij moet echter op oog hoogte staan.

[2012-06-09 10:12] FerryT opened #29 "Player namen in de hud"
Als we eenmaal iets van een player replication hebben zou het heel handig zijn dat de playernaam van de player in het vizier kenbaar word gemaakt aan de speler. Dan kunnen we zien of dat allemaal goed werkt.

[2012-06-09 10:14] KAYLukas commented on #29
Ik wil wel ff daar  naar kijken, ik doe ook wel meteen een status-bar. De hud heeft nog een paar bugs trouwens, die fix ik ook wel als tim dat goed vindt?

[2012-06-09 10:43] FerryT opened #30 "Textures en models"
Ik denk dat we nu er wel aan toe zijn om ook het grafische gedeelte op orde te brengen. Carl heeft al als goed is de models van alle game elementen af. Wat nu nog rest is textures voor de modellen en textures voor de wereld zelf. Endaarna moeten ze worden toegevoegd aan de assets.
#### Inspiratie:

![TRON texture pack voor MineCraft](http://i.ytimg.com/vi/YJLOfO7Cpfk/0.jpg)
(**Check de [video](htt

[2012-06-09 10:44] FerryT opened #31 "Netplay een eerste versie"
Het word tijd voor het implementeren van de netplay. Ik zal daar zelf nu aan beginnen.

[2012-06-09 10:46] FerryT commented on #29
Zou je ze boven het hoofd van de players kunnen projecteren?

[2012-06-09 10:48] KAYLukas commented on #29
Ja :)

Trouwens, er gaat bij mij iets mis als ik een material select. Als ik select() en direct unselect en dan een andere material inlaad dan is geen material ingeladen, althans hij tekent dat niets meer. Moet ik nog een functie aanroepen na unselect()?

[2012-06-09 10:49] FerryT commented on #29
In principe hoef je nooit zelf select en unselect aan te roepen. ~~Ik weet niet hoe dat werkt in de hud echter.~~ Dat geld ook voor de hud. Wat probeer je te doen?

[2012-06-09 10:59] timvdalen commented on #29
Van mij mag je ze fixen, maar wat is het probleem?

Voor de interface moet je even een nieuwe class die inherit van Widget aanmaken en die dan toevoegen aan de HUD (handigste is op dezelfde manier als voor de MessageDisplayer en de CrossHair).

Ja, kijk even naar glutStrokeString()

In principe hebben Widgets ook een Material die ze doorgeven aan Object, maar voor transparantie is dat lastig, dus

[2012-06-09 11:01] timvdalen commented on #30
Even een notitie voor de grond tiles: denk er aan dat de grid er nog overheen kan worden getekend, dus lijnen zoals in de afbeelding zichbaar zijn moeten wel inset zijn.

[2012-06-09 11:03] KAYLukas commented on #29
Ik had iets gevonden met dat object de viewport konden overschrijden maar ik kan het niet reproduceren. Dus die laat ik maar zo.

Als je switched naar een material texture vanaf een colortexture gaat het mis als je de colortexture disabled omdat die de transparantie op nul zet, ben ik net achter gekomen. Dus je moet eerst een witte collor texture inladen en dan pas je material texture...
Op 9 jun.

[2012-06-09 11:26] FerryT commented on #29
dan moet je dat even in de unselect fixen ipv een gare hack te doen :D

[2012-06-09 11:29] KAYLukas commented on #29
Ja of in de select van materialtexture fixen, want als material gewoon een kleur select gaat alles goed. We gebruiken toch niet materials om bijvoorbeeld een material texture extra groen te maken ofzo? Want dat kan je na de fix niet meer doen.
Op 9 jun. 2012, om 13:26 heeft Ferry Timmers het volgende geschreven:

[2012-06-09 11:36] FerryT commented on #29
Check [deze](https://github.com/timvdalen/OGO-2.3/blob/master/src/game/materials.cpp#L158) regel: ik gok dat dat allemaal 1en moeten zijn.

[2012-06-09 11:36] timvdalen commented on #29
Jawel, zie TwinMaterial. Ik heb eerder al een keer zoiets als waar jij aan denkt geïmplementeerd en terug gedraaid.

KAYLukas reply@reply.github.comschreef:

[2012-06-09 11:58] KAYLukas commented on #29
Hoe kom ik aan de huidige player en het huidige team?

[2012-06-09 11:59] KAYLukas commented on #29
Vanuit de hud?

[2012-06-09 12:01] FerryT commented on #29
nog niet, dat komt later allemaal in de game class, maar voor nu zou je een externe variable kunnen gebruiken.

[2012-06-09 12:19] FerryT commented on #31
Ik ga in gane.cpp/.h en netcode.cpp/.h werken. Graag even deze files met rust laten ;)

[2012-06-09 12:20] lucavanballegooijen commented on #28
Dit is vrij gemakkelijk te verhelpen.pos in movement.cpp verwijst naar de positie waarnaar gekeken wordt in 3rd person en de positie waarvandaan gekeken wordt in 1st person.Op het moment zet ik player.origin steeds gelijk aan pos.Als je dat veranderd met een offset zou alles goed moeten komen

[2012-06-09 12:26] FerryT commented on #28
Ok, doe maar :)

[2012-06-09 12:28] FerryT opened #32 "Console"
Iets waar ik nog niet eerder aan gedacht heb. Hebben iets van een console nodig waar je chat berichten in kan typen. Ik neem aan dat dat onderdeel van de hud is?

[2012-06-09 13:27] timvdalen commented on #32
Ja, ik was er al mee bezig. Ik maak een soort van popup ding wat op Enter de keyboard input pakt.

[2012-06-09 13:30] KAYLukas commented on #29
Willen we dit voor elke speler hebben of alleen voor jezelf?

Want dan is billboarding de enige oplossing

Verder is de status-balk af, alleen is de code totaal niet zoals het hoort, maar voor elk material een nieuw object aangaan maken om die select te voorkomen, levert me nu zo'n 9 objecten op, wat veel werk is, en niet bepaald super nuttig.

[2012-06-09 13:36] FerryT commented on #32
Ok, cool!

[2012-06-09 13:41] FerryT commented on #29
Zie mijn voorgaande comments.

Als je crosshair op een speler staat hoef je zelf alleen maar zijn naam te zien. Ik zie niet in hoe billboarding daar nut in heeft: je kan gewoon een projectie van een punt boven het hoofd van de speler naar het 2d scherm gebruiken.

[2012-06-09 13:43] timvdalen commented on #29
Niet eens nodig, het kan gewoon in 3D met glutStrokeString()

[2012-06-09 13:46] KAYLukas commented on #29
Bij billboarding lijkt me hud niet de juiste plek om ze te tekenen, team lijkt mij dan de beste oplossing.

@FerryT Dan is het al enigzins logischer, maar je wil denk ik wel hebben dat de naam kleiner wordt als de speler waar je op richt verder weg staat. Dus met projectie verlies je je perspectief.

@timvdalen , Maar dan moet je wel nog zorgen dat je naam niet onder een hoek staat, dat noemen ze

[2012-06-09 13:47] timvdalen commented on #29
Zeker, dat hoort niet thuis in de HUD maar in Player.

[2012-06-09 13:48] FerryT commented on #29
Persoonlijk vind ik dat juist fijner. Dat werkt bij de meeste shooters zo trouwens. Gewoon boven je crosshair de player name. Maarja ik dacht dat een projectie wel leuk zou zijn.

[2012-06-09 14:13] KAYLukas opened #33 "Robot model werkt niet goed"
Na mijn laatste commit is het robot model opgeblazen:

![Problem](https://dl.dropbox.com/u/40912731/Schermafbeelding%202012-06-09%20om%2016.11.46.png)

Als ik mijn laatste commit revert, kan ik heb hem dan later weer invoeren? Ik zie de fout echt niet waardoor dit is gekomen. Zelfs als ik al mijn nieuwe features uit comment heb ik het probleem nog steeds... Zien jullie dit ook?

[2012-06-09 14:27] timvdalen commented on #33
Ja, ik zie hetzelfde als jij.

Denk er trouwens aan dat als je numeric_limits gebruikt je <limits> include. Misschien ligt het aan mijn versie van GCC maar op mijn desktop en mijn laptop is die include nodig.

[2012-06-09 14:28] KAYLukas commented on #33
Ow okay, bij mij pakt hij die dus zonder problemen. Waar mis je hem?

Het probleem ontstaat bij het aanmaken van een nieuwe player en een nieuw team. Iemand enig idee hoe dat kan?

[2012-06-09 14:32] timvdalen commented on #33
movement.cpp
Ik zal mijn change niet commiten voor als je nog makkelijk wilt kunnen reverten.
Hmm, moet je even aan @Heightened vragen, die heeft een functie gemaakt om robot onderdelen tov de origin van de speler te transleren.

[2012-06-09 14:32] KAYLukas commented on #33
Bij de commit staat welke regel dit veroorzaakt, kan iemand misschien kijken hoe dat kan?

[2012-06-09 14:35] KAYLukas commented on #33
Je mag hem wel committen, ik weet toch precies nu waar de fout vandaan komt.

[2012-06-09 14:43] KAYLukas commented on #33
Ik denk dat ik ongeveer weet wat er gebeurd. @Heightened transleer de robot onderdelen als je een speler aanmaakt, echter wijst hij aan elke robot hetzelfde onderdeel toe, waardoor je dus alle onderdelen transleert, ook die van de andere speler aangezien die gewoon precies hetzelfde is. Nu zal de oplossing iets moeten zijn dat je het model loskoppelt van het object. Het object een pointer naar het

[2012-06-09 14:46] FerryT commented on #33
Gewoon een extra object ertussen spawnen en het zou opgelost moeten zijn :)

[code]

vervangen door

[code]

[2012-06-09 15:43] FerryT commented on #33
dit zou nu gefixt moeten zijn, kijk maar ff.

[2012-06-09 18:52] timvdalen commented on #26
Volgens mij heb ik ze nu allemaal gehad.

[2012-06-09 18:52] #26 closed, assigned to timvdalen

[2012-06-09 18:57] timvdalen commented on #33
Met de laatste versie van de code en de assets werkt het bij mij.

[2012-06-09 18:57] #33 closed, assigned to nobody

[2012-06-09 22:49] KAYLukas commented on #29
We hebben nu bij elke speler een naam er boven, als ik kan testen wanneer iemand geselecteerd is kunnen we de naam er alleen boven zetten bij de speler die geselecteerd is. Op zich moet de projectie toch gewoon kunnen door matrixmode om te zetten? Dat zal dan niet echt een probleem zijn.

[2012-06-09 22:57] timvdalen commented on #29
Nee, het is goed mogelijk om te switchen (duurt alleen even). Ik zal nog eens kijken of ik kan detecteren in welke mode we zitten zodat ik in Widget::preRender() en Widget::postRender() evt kan switchen, zodat je een Widget ook buiten de HUD kunt gebruiken.

Nu zie ik trouwens niet in waarom je naar 2D mode wil switchen, of begrijp ik je helemaal verkeerd?

[2012-06-09 23:00] FerryT commented on #29
switchen van 2d naar 3d mode en omgekeerd is _heel erg_ kostbaar. Dit moet je maar 1x doen per render cycle.

[2012-06-09 23:00] FerryT commented on #26
Ok, mooi!

[2012-06-09 23:02] timvdalen commented on #29
Op het moment doen we dat dan ook.

(Ik moet eens kijken of we al forcen dat HUD het laatste (of natuurlijk eerste, volgens mij komt alles er dan nog steeds overheen) wordt getekend, dan zouden we nog even kunnen kijken of we niet terug hoeven te wisselen.)

[2012-06-09 23:44] KAYLukas commented on #29
Ik wilde naar 2d mode switchen omdat Ferry wilde dat de naam van de speler altijd even groot ongeacht de afstand tot de speler. Op het moment is het gewoon een string boven de speler die dus vatbaar is voor perspectief. Op zich is dat ook niet meteen ongangbaar voor veel spellen. Maar als je hem in projection mode zou zetten dan blijft hij even groot ongeacht de afstand.

Anyway, in mijn visie is

[2012-06-10 08:40] KAYLukas commented on #32
Jammer dat input_glut van alle letters een hoofdletter maakt en geen backspaces doorstuurt. Maar de widget ziet er al goed uit, op een paar hacky shit na ;)

[2012-06-10 09:13] timvdalen commented on #32
Ja, die input moet ik nog even wat aan doen. Special chars worden niet op dezelfde manier doorgegeven. Backspace zal ik zo doen, dat is niet zo ingewikkeld.

KAYLukas reply@reply.github.comschreef:

[2012-06-10 11:19] FerryT commented on #32
Let op dat de input module een enum terug geeft, die kan je beter ook als zodanig gebruiken.

[2012-06-10 11:51] timvdalen commented on #32
Hmm ja, dat had ik gezien. Wat ik nu doe is de numerieke waarde van de enum casten naar een char, aangezien je gewoon de normale scan codes aan houdt in je enum.
Hoe kan ik het verschil zien tussen de Button voor 'A' en de Button voor 'a'?

[2012-06-10 12:09] FerryT commented on #32
Op dit moment niet helaas. Ik zal er ff een mode voor maken in de input module

[2012-06-10 12:27] timvdalen commented on #32
Thanks, dan zoek ik even uit hoe ik dat het makkelijkste naar een char gecast krijg, met case support. Er zijn geen andere scancodes voor lower/uppercase toch?

[2012-06-10 12:28] FerryT commented on #32
Check input.grabText en input.onText.
ik heb hem btw niet getest, dus als er foutjes in zitten dan hoor ik het wel. :)

[2012-06-10 12:30] FerryT commented on #29
Begint al ergens op te lijken! Alleen moeten ze nog wel een stuk kleiner zijn.

[2012-06-10 13:00] timvdalen commented on #32
Hmm, nu heb je dus als ik het goed begrijp een interne buffer in de input klasse die wordt doorgegeven als je de text released? Want dat werkt niet, de HUD heeft ook een buffer (en daar is die nodig om de buffer op het scherm te tonen) dus die moet elke keypress worden geupdate.

[2012-06-10 13:02] FerryT commented on #32
de buffer is niet intern, je kan input.text ook direct uitlezen.

[2012-06-10 13:35] timvdalen commented on #32
Met de nieuwe input werkt de normale movement niet meer bij mij (de robot begint te bewegen als je een key loslaat in plaats van indrukt en stopt daarna ook niet meer) . Ik revert je commit voor nu even.

[2012-06-10 13:43] FerryT commented on #32
Ik kan het niet repliceren. Gaat het fout bij mergen misschien?

[2012-06-10 13:50] timvdalen commented on #32
Nee, alles kwam er clean in. Dit is op Windows, zal Linux even testen.

[2012-06-10 13:56] FerryT commented on #32
Zowel op windows als op linux werkt het bij mij, ik zal hem opnieuw committen. Mischien heb ik niet alle files geadd.

[2012-06-10 13:58] timvdalen commented on #32
Ik zie net dat als ik clean het niet werkt omdat in de main btnEnter
nog gebruikt wordt. Kan het zijn dat je de main vergeten was?
Ferry Timmers schreef op 2012-06-10 15:56:

[2012-06-10 13:59] FerryT commented on #32
jups, dat zal het geweest zijn.

[2012-06-10 14:00] timvdalen commented on #28
@lucavanballegooijen Heb je hier al wat vooruitgang mee? Ik heb net wat geprobeerd, maar het verplaatsen van de camera heeft nog wat gevolgen voor het schieten en bouwen (aangezien de vector richting het doel wordt berekend vanuit de kijkrichting van de camera).

[2012-06-10 14:20] FerryT commented on #32
kan je die revert even unreverten?

[2012-06-10 14:25] timvdalen commented on #32
Done

Ferry Timmers schreef op 2012-06-10 16:20:

[2012-06-10 14:29] FerryT commented on #32
ok thanks!

[2012-06-10 20:17] timvdalen commented on #32
Zo, met commit 4f9661d96988ed2882021f857b91d55184ca4f6f is dit opgelost. Als we behalve chat ook commando's mogelijk willen maken kunnen we daarvoor de functie op Input::onText gebruiken (op het moment main.cpp:getInput). Op het moment maak ik daar van alles gewoon een chat message, maar daar kunnen we natuurlijk zoeken naar een ! of een /.

[2012-06-10 20:17] #32 closed, assigned to timvdalen

[2012-06-10 20:22] timvdalen commented on #29
https://dl.dropbox.com/u/12618006/GOTO/NPC.png

Wat mij betreft opgelost met 4f9661d96988ed2882021f857b91d55184ca4f6f.

[2012-06-10 20:22] #29 closed, assigned to KAYLukas

[2012-06-10 20:55] KAYLukas opened #35 "Selecteren van verschillende gebouwen"
De build-modus moet nog uitgebreid worden naar meerdere gebouwen.
Ik heb zelf al een hud widget gemaakt die aangeeft welke gebouwen er zijn en hoe je ze selecteert.(Voor mine en tower)
Aleen moet dit ook nog in de build-modus verwerkt worden.

[2012-06-10 20:58] FerryT commented on #32
Ah, mooi nu kan ik die gebruiken ipv gaar een console schermpje op de achtergrond te gebruiken :D
Ik had al een idee hoe we het kunnen doen:
In game heb ik commando's gedefineerd die je als string kan aanroepen. Ik ben ook van plan om een commando te maken wat de console opent met al een commando half ingevuld. Dan kan je zowel 'say' en 'teamsay' met hetzelfde commando doen. Optie twee is dat je k

[2012-06-10 21:08] FerryT commented on #35
Ze moeten uiteindelijk in [deze](https://github.com/timvdalen/OGO-2.3/blob/master/src/game/player.h#L27) enum komen te staan. Ze worden met [deze](https://github.com/timvdalen/OGO-2.3/blob/master/src/game/game.h#L88) functie geselecteerd.

[2012-06-10 21:14] timvdalen commented on #32
Ik was al bezig met een prompt variabele in TextInput, dus dan kunnen we die daar mooi gebruiken.

[2012-06-10 21:17] KAYLukas commented on #35
Hoe kan ik de naam van de tool opvragen uit de enum?

Ik heb bijvoorbeeld nu dit:

![Voorbeeld](https://dl.dropbox.com/u/40912731/Schermafbeelding%202012-06-10%20om%2023.16.05.png)
Dit is nu nog lelijk gedaan via hardcoding, maar eigenlijk wil ik dat met een for-loop doen. Dus dan wil je de naam van de build-modus, en het icoon ofzo kunnen opvragen (in principe gewoon welk gebouw er gebouwd wordt)

[2012-06-10 21:19] KAYLukas commented on #35
Ow ja en natuurlijk de button die gepressed moet worden voor het gebouw.

[2012-06-10 21:47] FerryT commented on #35
De knop opvragen lijkt me niet nodig, dat staat dadelijk in de handleiding. Bij de meeste shooters staat dat in een logische volgorde die overeen komt met de numerieke toetsen. Je kan geen namen opvragen van de enum, dat kan je met een switch statement doen.

[code]

[2012-06-10 22:06] KAYLukas commented on #35
Hmm, okay, ik denk dat het handigste is om te wachten met het verder initialiseren van de widget totdat het selecteren geimplementeerd is.

[2012-06-11 14:15] timvdalen commented on #35
Hadden we niet afgesproken dat als je over een mine heen bouwt dat je dan automatisch een gatherer bouwt en anders een tower?

[2012-06-11 14:26] FerryT commented on #35
Ja maar dat was de 'tijdelijke' oplossing want Carl vond het niet zo nice.

[2012-06-11 14:27] FerryT commented on #31
Oh nog vergeten te zeggen: er zit nu iets van netplay in: chat en player position werken. Maar voordat ik hiermee verder ga wil ik eerst main een beetje opruimen.

[2012-06-11 14:37] PeterKoymans opened #36 "bug tijdens schieten"
Als je schiet en tijdens het schieten met de robot draait, lijkt de laserbeam mee te draaien.

[2012-06-11 17:04] KAYLukas opened #37 "Player::list"
Ik wilde player::list gebruiken om over alle spelers te itereren. Echter, staat de huidige speler niet in de lijst, en ook de npc wordt verwijderd.

Om er achter te komen wat er gebeurde, heb ik bij de constructor en destructor (als dat zo heet) een printf statement gedaan met de naam en of hij verwijderd wordt of aan gemaakt wordt. Dit is de uitvoer van het programma:

[code]

Kan iemand mij uitl

[2012-06-11 17:05] KAYLukas commented on #37
De enige speler die overblijft is de speler waar de statusbalk aangekoppeld is. (Dit is nog een dummy speler)

[2012-06-11 17:08] timvdalen commented on #35
Carl zei juist vanochtend tegen mij dat hij het raar vond dat we het nu met een menu deden terwijl we iets anders hadden afgesproken.

[2012-06-11 17:25] timvdalen commented on #36
Dit kan ik niet reproduceren. Heb het even gechecked, maar de LaserBeam kopieert de richting van de camera en houdt er geen reference naar, dus tijdens een rotatie blijft de LaserBeam in dezelfde richting.

[2012-06-11 17:25] #36 closed, assigned to nobody

[2012-06-11 18:17] KAYLukas commented on #35
Ow, nouja we kijken wel even wat we doen dan. Het is er heel simpel uitgehaald :P. Wel jammer van het werk :(.

Ik wist niet meer dat we dat hadden afgesproken.

Is wel irritant als je mis klikt dat je opeens een ander gebouw bouwt natuurlijk.

Ik had het idee van het menu gehaald uit de informele specificatie, daar hadden we namelijk gespecificeerd dat we een menu lieten zien in de bouw-modus.
Pa

[2012-06-11 18:23] FerryT commented on #37
Ik geloof toch echt dat ik die member had weggegooit. Gebruik `game.players` voortaan. De reden dat de player constructir te vaak aan geroepen word is omdat op een aantal plaatsen hij by value wordt gepasst. Hij moet het liefst als const reference gepasst worden: `const Player &` in functies.

[2012-06-11 18:38] KAYLukas commented on #37
Okay, ik zag al dat je hem gefixed had. In die lijst staan ook nog geen spelers, maar ik neem aan dat die lijst nog WIP is. Dus dan denk ik dat deze gefixed is.

[2012-06-11 18:38] #37 closed, assigned to nobody

[2012-06-11 18:45] FerryT commented on #37
Als je verbinding maakt komt de verbindende spelers er al wel in als je moet testen :)

[2012-06-12 01:09] FerryT commented on #31
Voor de demo hebben we nu in ieder geval wat netplay

[2012-06-12 01:09] #31 closed, assigned to FerryT

[2012-06-12 20:15] timvdalen opened #38 "Fire command wordt ook aangeroepen als input niet grabt"
Title says it all, als de input nog niet grabbing is wordt op het moment het Fire commando toch nog gegeven.

[2012-06-12 22:07] timvdalen opened #39 "Op de grid klikken in first person mode returned -1, -1"
Als je in first person mode bent (automatisch of door inzoomen) tijdens bouwmode en op de grid klikt, returned Terrain::getGridCoordinates() altijd (-1, -1).

[2012-06-12 22:10] KAYLukas commented on #39
Waarschijnlijk komt dit omdat de camera en de lookat object hetzelfde is, dus kan getGridCoordinates geen kijkvector construeren, waardoor hij -1,-1 moet terug geven. Dit moet opgelost worden door de kijkvector en het startpunt te geven in plaats van het punt waar deze naar kijkt of, een ander lookat object mee te geven.

[2012-06-12 22:11] KAYLukas commented on #39
Een ander probleem is op het moment ook nog dat hij niet altijd de juiste coordinaten teruggeeft, sinds de camera is opgeschoven, hij lijkt ernamelijk vaak net naast te zitten

[2012-06-12 22:13] KAYLukas commented on #39
Ik ben trouwens enigszins geschokt dat hij wel de een grid kan heighlighten in de first person mode, waarschijnlijk is de code niet consistent. Ofwel het heighlighten passeert andere aan getgridcoordinates parameters dan het bouwen.

[2012-06-12 22:28] timvdalen commented on #39
Dit komt door een afrondingsfout. Toen @Heightened en ik bij OGO weg gingen had @FerryT die gevonden.

Dat had ik ook gemerkt ja. Die selectie had ik toevallig vanmiddag geupdate, dus heb er even naar gekeken. Daar heb ik de 'oude' manier (`cam.origin + -cam.objective * Vd(0,10,0)`) gebruikt, die niet Controller::target gebruikt.

[2012-06-12 22:35] KAYLukas commented on #39
Waarom wil je eigenlijk niet gewoon cam.objective gebruiken? Camera staat toch ook in de controller?

Op 13 jun. 2012, om 00:28 heeft Tim van Dalen het volgende geschreven:

[2012-06-12 22:42] timvdalen commented on #39
@lucavanballegooijen Had me aangeraden om die target te gebruiken.

[2012-06-12 23:21] KAYLukas opened #40 "Hoe kom je aan een team"
Als ik een character heb van het team van een speler, hoe kan ik aan het corresponderende team komen?

[2012-06-12 23:50] Heightened commented on #40
Wat bedoel je, de andere spelers in het team?
... specificeer even wat je bedoelt met team... want 'a' (rood) of 'b'
(blue) weet je al als je een character hebt...
Carl

On Wed, Jun 13, 2012 at 1:21 AM, KAYLukas
reply@reply.github.com
wrote:

[2012-06-13 05:33] KAYLukas commented on #40
Het team object, zodat je de resources op kan vragen.
Op 13 jun. 2012 01:50 schreef "Carl van Dueren den Hollander" <
reply@reply.github.com>
het volgende:

[2012-06-13 17:20] timvdalen commented on #39
Dit is opgelost met de nieuwe input class en @PeterKoymans rewrite van getGridCoordinates().

[2012-06-13 17:20] #39 closed, assigned to nobody

[2012-06-13 17:23] #38 closed, assigned to FerryT

[2012-06-13 17:23] timvdalen commented on #28
Gisteren en vandaag is dit opgelost.

[2012-06-13 17:23] #28 closed, assigned to lucavanballegooijen

[2012-06-13 17:24] timvdalen commented on #30
Update: Alleen het hoofdgebouw moet nog.

[2012-06-13 17:24] timvdalen commented on #22
Dit is opgelost met de input class rewrite van vandaag.

[2012-06-13 17:24] #22 closed, assigned to FerryT

[2012-06-14 18:56] timvdalen opened #41 "Minimap laat torens van team b niet zien"
De minimap laat torens van het tweede team niet zien.

[2012-06-14 18:57] KAYLukas commented on #41
Hoe kan ik dat testen?

[2012-06-14 19:01] timvdalen opened #42 "Z-move zorgt voor 'achteruitkijkspiegel'-view"
Als je [space] of c gebruikt om te bewegen over de Z as werkt de camera niet goed. De camera komt recht voor je, op jezelf gericht zodat je je eigen voorkant ziet (je hoofd is wel van je af gericht).

[2012-06-14 19:02] timvdalen commented on #41
In bin/game.conf `team` op b zetten :)

[2012-06-14 19:19] KAYLukas commented on #41
Op gelost, ik was vergeten hem te laden in asset::initialize

[2012-06-14 19:19] #41 closed, assigned to KAYLukas

[2012-06-15 09:11] KAYLukas opened #43 "FPS van message displayer"
We hadden het gisteren over de fps-lag die de message displayer veroorzaakt. Nu heb ik de message displayer verandert om stroke characters te gebruiken: waarbij ik deze fps haal:

![stroking](https://dl.dropbox.com/u/40912731/Schermafbeelding%202012-06-15%20om%2011.05.03.png)

En origineel haalde ik:
![bitmap](https://dl.dropbox.com/u/40912731/Schermafbeelding%202012-06-15%20om%2011.06.35.png)

Le

[2012-06-15 11:04] timvdalen commented on #43
Hmm. Ik zal van het weekend even kijken wat voor resultaten ik krijg. Monospace was heel handig voor de berekeningen. Commit dit maar niet, als ik iets vind dan zal ik het committen, wil dan toch nog even aan appearance en grootte sleutelen.

[2012-06-16 10:50] timvdalen opened #44 "Speler in playerlist beweegt automatisch"
Als ik de huidige speler toevoeg aan Game::game.playerlist dan gaat die speler automatisch bewegen. Als ik een andere speler toe voeg aan die lijst (in welke volgorde dan ook) gebeurt dit niet.

@FerryT Is dit een test of een bug?

[2012-06-16 11:28] FerryT commented on #44
Dit komt door de simulatie code (player interpolation). Ik ga nu de main opruimen en alle initialisatie in zijn definitieve vorm zetten. Ik zal daarna ff kijken hoe dit op te lossen.

[2012-06-16 11:35] timvdalen commented on #44
Ah, mooi om te horen. Ik ben nu aan het werk aan het bouwen, dus ik had owners nodig. Ik merk het wel als het opgelost is.

[2012-06-16 11:57] KAYLukas opened #45 "Compile error"
Met de nieuwste commits compiled hij niet meer bij mij. Er lijkt iets mis te gaan bij de = operator in core.h:

![Compile error](https://dl.dropbox.com/u/40912731/Compile%20error.png)

Heeft mijn compiler niet dezelfde libraries als bij jullie of klopt er iets niet in de code?

[2012-06-16 12:04] FerryT commented on #45
gefixed

[2012-06-16 12:04] #45 closed, assigned to nobody

[2012-06-16 12:07] FerryT commented on #44
gefixt

[2012-06-16 12:07] #44 closed, assigned to FerryT

[2012-06-16 13:56] KAYLukas commented on #35
Okay we doen nu de de andere manier zie ik? BuildingSelection hud kan weggehaald uitgecomment worden?

[2012-06-16 14:11] timvdalen commented on #35
Ja, voor nu heb ik de andere manier gedaan. Ik kan het nog omzetten, maar haal de BuildingSelection nu maar uit de HUD (gewoon niet adden).

[2012-06-16 14:11] #35 closed, assigned to nobody

[2012-06-16 14:26] FerryT opened #46 "New style collision"
Ik heb nu dus een iterator gemaakt die over objecten kan itereren incluis hun kinderen. Ik zou graag de collision zien via deze iterator. Ik heb al wat stubjes gemaakt (`World::trace` en `World::sense`) die ik graag wil implementeren. Er zijn nu twee dingen die anders moeten: de huidige collision function `BoundedObject::checkCollision` is nog recursief geimplementeerd; dat zou dan dus niet meer m

[2012-06-16 16:11] timvdalen commented on #43
Zou je de code die je hiervoor hebt gebruikt even in een gist willen opslaan?

[2012-06-16 16:12] timvdalen commented on #42
@lucavanballegooijen Heb je dit weekend tijd om hier even naar te kijken?

[2012-06-16 16:13] KAYLukas commented on #43
Wat is een gist? Ik zal ff in dropbox kijken of ik hem kan terughalen.

[2012-06-16 16:18] timvdalen commented on #43
https://gist.github.com/

[2012-06-16 16:35] KAYLukas commented on #43
https://gist.github.com/2941881

[2012-06-16 18:08] timvdalen commented on #43
Ik kan dit niet reproduceren. glutStrokeCharacter tekent eerst grote lijnen en die scalen we dan naar beneden. Dat ziet er niet mooi uit.
Het kan aan mijn general performance liggen, maar glutStrokeCharacter levert bij mij 57 FPS op en glutBitmapCharacter 58. Daarbij komt dat glutBitmapCharacter bedoeld is voor wat wij doen, 2D text printen op een overlay en glutStrokeCharacter niet.

[2012-06-16 18:08] #43 closed, assigned to nobody

[2012-06-16 18:40] FerryT opened #47 "Status bar schaalt niet mee"
De mini map schaalt mooi mee als je het scherm vergroot of verkleint. Dit is misschien ook een leuk idee voor de status balk.

[2012-06-17 10:26] lucavanballegooijen commented on #42
ivm verhuizing ouders, niet veel, maar kan t wel even doen, belangrijker is voor mij de vraag: is dit boeiend? Waar gebruiken we moveZ?Maar als je zegt: toch doen, dan fix ik het wel

[2012-06-17 10:45] timvdalen commented on #42
Voor het testen zou het wel fijn zijn als je dit even wil fixen.

Luca van Ballegooijen reply@reply.github.comschreef:

[2012-06-17 14:47] lucavanballegooijen commented on #42
Ok. 't is nu gefixt

[2012-06-17 14:47] #42 closed, assigned to lucavanballegooijen

[2012-06-18 11:01] timvdalen commented on #30
Update: Dit is bijna klaar, maar we missen nog een model en texture voor een muntje.

[2012-06-18 14:22] timvdalen opened #48 "Collision detection werkt niet"
Ik ben bezig met schieten, maar ik krijg collision detection niet aan de praat.
De functie returned altijd (waar ik ook schiet) een Object met als type() BoundedObject. Ik dacht misschien dat het lag aan het feit dat een Player nog kinderen heeft, maar World::trace levert helemaal niets op.

Gebruik ik de functie verkeerd?

[2012-06-18 17:41] timvdalen opened #49 "HQ op minimap"
De HQ staat niet goed op de minimap weergegeven (waarschijnlijk omdat @KAYLukas dacht dat die op een andere GridPoint zou komen).

![error](https://dl.dropbox.com/u/12618006/GOTO/HQ.png)

[2012-06-18 17:51] KAYLukas commented on #49
Ik zal er ff naar kijken, ik zag het al eerder maar vroeg me af of alles al goed geimplementeerd was.

[2012-06-18 18:09] timvdalen commented on #49
Ja, dat staat nu allemaal. Uiteindelijk staat het gebouw zelf nu in de rechter bovenhoek van de 4 plekken die het inneemt.

[2012-06-18 18:13] KAYLukas commented on #47
Fixed, misschien ook nog een idee om het chatvenster mee te schalen. @timvdalen is dat een idee?

[2012-06-18 18:13] #47 closed, assigned to KAYLukas

[2012-06-18 18:13] KAYLukas commented on #49
Fixed

[2012-06-18 18:13] #49 closed, assigned to KAYLukas

[2012-06-18 18:14] KAYLukas commented on #40
Lijkt me al opgelost nu. @timvdalen heeft de statusbar nu al gelinked als ik het goed heb

[2012-06-18 18:14] #40 closed, assigned to nobody

[2012-06-18 18:18] KAYLukas commented on #48
Ik ben ff aan het testen en een probleem is dat hij natuurlijk een intersectie heeft met de boundingbox van jezelf. Hij komt uiteindelijk uit bij player namelijk

[2012-06-18 18:19] timvdalen commented on #47
Het chatvenster schaalt al mee, daar had ik het schalen voor toegevoegd. (Of bedoel je niet de input maar de displayer? Want die moet nog wel ja)

[2012-06-18 18:20] timvdalen commented on #40
Ja, ik heb Game::game.teams gebruiken. Wie de statusbar gelinkt heeft weet ik niet, toen ik met geld en health bezig was zag ik dat de status bar ineens werkte, ik heb er niet aangezeten.

[2012-06-18 18:21] timvdalen commented on #48
Hmm. Waarom returned de functie dan altijd een BoundedObject? Gaat er ergens iets mist met polymorfisme?

[2012-06-18 18:32] KAYLukas commented on #48
Hij returned altijd World, omdat hij daar wel een collision meeheeft. Ik heb wat debug uitput gedaan:

[code]

Deze debug output betekent dat hij eerst kijkt of hij bij world een collision heeft, dat heeft hij en hij bekijkt player, player heeft dan geen collision, en dan stopt zegt world dat hij alleen een collision met zichzelf heeft.

Wat collision detectie in principe doet is:
Hij kijkt of hij

[2012-06-18 18:34] KAYLukas commented on #47
Ik bedoelde de displayer idd;)

[2012-06-18 18:39] KAYLukas commented on #48
Het probleem zit hem erin dat terrain geen boundedobject is en daardoor er geen collisiondetectie op uitgevoerd kan worden. Hoe mogen we dit oplossen?

[2012-06-18 18:54] timvdalen commented on #48
Je kunt terrain gewoon een boundedobject maken.

[2012-06-18 18:54] timvdalen commented on #48
Bij mij returned checkCollision().first->type() altijd BoundedObject btw

[2012-06-18 19:09] KAYLukas commented on #48
Ik krijg het niet voorelkaar om terrain een boundedobject te krijgen, ik krijg segerrors :S

[code]

heb ik toegevoegd, en in de header:

[code]

Mis ik iets?

[2012-06-18 19:10] KAYLukas commented on #48
gdb zegt trouwens:

[code]

[2012-06-18 19:11] KAYLukas commented on #48
Oeps, make clean lost het al op

[2012-06-18 19:14] timvdalen commented on #48
Mooi, laat maar weten als je checkCollision werkend hebt, dan ga ik verder met de Fire logic.

[2012-06-18 19:24] KAYLukas commented on #48
Hij bekijkt nu ook terrain (terrain override nu checkcollision vanwege gebruik van map i.p.v. children), alleen vraag ik me af of alle boundingboxes goed gedefinieerd zijn en ok ik ze juist interpreteer.

![cube](http://zophusx.byethost11.com/images/Necker%20Cube.jpg)

Ik ga er van uit dat lbl hier 3 is en rth 6 is. Klopt dat? Want volgens mij werd rth niet overal gedefinieerd.

[2012-06-18 19:28] timvdalen commented on #48
Ja, zo zit het in elkaar. Nog niet alles heeft een BoundingBox denk ik.

[2012-06-18 19:30] KAYLukas commented on #48
Volgens mij moeten de boundingboxes nog worden gedefinieerd of niet? Bij defense tower enzo staan ze nog niet. iig zal ik de huidige versie committen, deze heeft bij game wel gewoon als type() terrain, dus dat werkt.

Edit: Spuit11

[2012-06-18 19:33] timvdalen commented on #48
Prima. Ik zal zo even een BoundingBox(lbl, rth) constructor toevoegen.

Wat?

[2012-06-18 19:38] KAYLukas commented on #48
Ik begon over die boundingboxes terwijl jij al zei dat ze nog niet overal gedefinieerde, dus was ik een spuit11 :P

http://taaladvies.net/taal/advies/vraag/749/

[2012-06-18 19:59] timvdalen commented on #48
Juist ja :P

Anyway, ik heb net BoundingBox::BoundingBox(lbl, rth) toegevoegd. Zou jij ff willen helpen met de boxen van structures? Dan kijk ik even of ik de player kan uitvogelen.

[2012-06-18 20:12] timvdalen commented on #48
Heb @Heightened net gebeld, hij zoekt het even op in de modellen. Is toch iets handiger.

[2012-06-18 20:57] KAYLukas commented on #48
Heeft een laserbeam trouwens geen eindpunt?

[2012-06-18 21:03] timvdalen commented on #48
Nu niet, zie: https://github.com/timvdalen/OGO-2.3/blob/master/src/game/objects.cpp#L218

[2012-06-18 21:22] KAYLukas commented on #48
Okay, maar het is wel de bedoeling dat je alleen de eerste speler die je raakt damage doet toch?

[2012-06-18 21:30] timvdalen commented on #48
Ja, moeten we dan een andere functie gebruiken?

[2012-06-18 21:36] KAYLukas commented on #48
Nee, dan doet jij het juist precies goed. Ik ging er namelijk van uit dat je maar 1 intersectie hebt

[2012-06-18 22:28] Heightened commented on #48
In downloads staat een programma.
Zet het in je assets/models directory, je kunt na uitvoeren een file path invullen en de dimensies (van bounding boxes) worden geprint.

[2012-06-19 22:57] KAYLukas commented on #48
Fixed I would say :)

[2012-06-19 22:57] #48 closed, assigned to KAYLukas

[2012-06-19 22:57] KAYLukas commented on #46
Fixed, I would say.

[2012-06-19 22:57] #46 closed, assigned to KAYLukas

[2012-06-20 17:14] timvdalen commented on #30
We hebben nu alle assets.

[2012-06-20 17:14] #30 closed, assigned to Heightened

[2012-06-20 19:29] KAYLukas opened #50 "Geld"
Het automatisch optellen van geld werkt niet, er wordt alleen constant het gemiddelde van genomen, dus zelfs het automatisch geld verdienen werkt niet.

[2012-06-20 19:36] timvdalen commented on #50
Dat is redelijk by design atm geloof ik. Iedereen verdient het geld voor elk team en daarvan wordt het gemiddelde genomen. Als er niet gecheat wordt zou het dus moeten kloppen.
Misschien dat we zo even kunnen uitvinden waarom dit niet zo is.

[2012-06-20 19:51] KAYLukas commented on #50
Ow zo. Ik dacht dat gemiddelde alleen gebruikt werd voor randgevallen, maar we gebruiken het dus ook hiervoor. Nouja, dan klopt het wel denk ik zo.

Wie is eigenlijk waar mee bezig?

P.S. Ik heb de interpolation zonet gefixed hij had 2 hele kleine foutjes, daardoor werkte hij niet.

[2012-06-20 19:57] timvdalen commented on #50
Ik ben wat kleine gameplay dingen aan het doen (spawns etc) en de lobby aan het koppelen met de game (dat verbinding via lobby werkt).

KAYLukas reply@reply.github.comschreef:

[2012-06-21 09:06] #50 closed, assigned to nobody

[2012-06-21 21:19] timvdalen opened #51 "Leaven bij meer dan 2 spelers"
Als je probeert te leaven terwijl er meer dan 2 spelers zijn zal het spel bij die 2 spelers vastlopen.
De token ring merkt dat er iemand weg is, maar probeert toch nog bij die persoon te komen.

Zie https://github.com/timvdalen/OGO-2.3/commit/72409e5ebf7b97e7d6f9150c0415bae7d4224cb4#L0R142
Het is volgens mij niet mogelijk om aan de iterator te zien of die ergens naar point en vergelijken met end()

[2012-06-21 21:21] timvdalen opened #52 "Random segfault midden in het spel"
Ik zat net iets van 15 min in een 1vs1 spel toen ik een segfault kreeg. Ik runde niet in mijn debugger. Visual Studio probeerde nog in te haken maar had geen source, dus ik heb nog niet gevonden waar het aan ligt.

Volgens mij ben ik niet de enige met deze issue, jij had hem ook al gezien, toch @FerryT?

[2012-06-21 21:24] PeterKoymans commented on #52
Hier hebben we deze middag nog uitvoerig op getest. Volgens mij is de oorzaak dat een player null is.

[2012-06-21 22:19] KAYLukas opened #53 "Network Discovery"
Network discovery zou als het goed is nu moeten werken. Je kan 'Discover' in typen voor de lijst met spelers waar je mee kan verbinden. Deze zijn met een integer genummerd. Via join kan je dan die integer intypen en dan connect je automatisch. Je kan niet met jezelf verbinden. (Dat is heel lelijk geimplementeerd xD).

Elke seconde wordt een broadcast gestuurd dat jij er bent met ongeveer 20-30 cha

[2012-06-21 22:24] KAYLukas commented on #53
Verder heb ik nog een vraagje, in de gebruikershandleiding staat de lobby beschreven. Willen we dat daar laten, want het is een leuke beschrijving, maar als hij het niet kan gebruiken is het nogal onnuttig... Anders vervang ik het door de ingame network discovery.

[2012-06-22 07:53] timvdalen commented on #53
Ik zou zeggen dat we die er in laten. Het programma werkt op zich redelijk. Misschien alleen aanvullen met deze nieuwe manier.

[2012-06-22 09:36] KAYLukas commented on #53
We hebben het gisteravond al helemaal aan zitten passen. Omdat 'redelijk' (op mac en windows meer zoiets is van 'niet') en hem compleet verward zodat hij het spel niet eens werkend krijgt.

[2012-06-22 09:36] #53 closed, assigned to KAYLukas

[2012-06-22 09:49] timvdalen commented on #53
Hmm ok. Wel zonde van het werk aan de lobby. Jammer dat we die dan niet in kunnen leveren, maar ik zal er nog eens naar kijken de komende tijd.

[2012-06-23 09:55] timvdalen opened #54 "Renames versus kopiëren"
Nu OGO voorbij is wil ik de repository graag renamen naar GOTO.

Dat kan op twee manieren:

- Echt renamen. Dan werkt de oude link niet meer en moeten jullie je remotes updaten.
- Een nieuwe repo op basis van deze. De git history blijft bewaard, maar de issues en de wiki niet, die horen bij github. De wiki overzetten is natuurlijk triviaal, maar de issues niet.

De eerste leek me eerst vervelend a

[2012-06-23 10:30] KAYLukas commented on #54
De laatste optie is in principe een fork, toch?

[2012-06-23 10:54] timvdalen commented on #54
Ja, sortof. Ik begin meer naar optie 1 te leunen aangezien niemand de oude link had.
Dan maak ik desnoods een nieuwe repo OGO-2.3 met een history kopie en een link naar de nieuwe, maar dat lijkt me niet echt nodig.

KAYLukas reply@reply.github.comschreef:

[2012-06-23 12:11] FerryT commented on #54
Ik zat meer aan een kopie te denken omdat we dan alle niet relevante dingen uit de history kunnen halen. Ook lijkt me het verstandig om over te gaan op engels en waar nog nederlands staat dit te vertalen. De issues maak ik me niet zo druk over, dat zijn er nog maar twee (of drie met deze erbij) dus die kunnen we desnoods opnieuw maken. De wiki moet toch vertaalt worden en niet alles klopt meer dus

[2012-06-23 12:33] timvdalen commented on #54
Met een kopie bedoel je nu dus alleen de current state zonder history? Dat vind ik geen goed idee.
Dat van het vertalen klopt wel inderdaad, dus een kopie maakt niet veel uit, maar ik wil wel voor een kopie met history behoud gaan.

Ferry Timmers reply@reply.github.comschreef:

[2012-06-23 13:14] FerryT commented on #54
Nee ik bedoel wel de history erbij maar bv de pdfjes en files die alleen voor het OGO project relevant waren uit de history halen.

[2012-06-23 13:28] timvdalen commented on #54
Ah ok. Goed plan. Ik heb een script dat subtrees helemaal kan verwijderen.

Ik heb alleen wel gezien dat bijv Peter af en toe commits heeft gemaakt met wijzigingen in de source en de documentatie, moet even opzoeken hoe dat script daar mee om gaat.

Ferry Timmers reply@reply.github.comschreef:

[2012-06-24 16:23] KAYLukas opened #55 "FPS correction"
He jongens,

Ik heb het spel eens voor de grap getest op 10 jaar oude pc, een pentium 4 cpu 2.0 ghz 768 mb ram en een Geforce
4MX 420, 64mb vram. Op zich was het spel nog redelijk speelbaar (standaard 32 fps, met drops naar 10fps), wat ik best een nice prestatie vond :O.

Maar bij deze framedrops merkte ik dat de fps correctie te laat start. Als ik een framedrop heb naar 10fps rijdt hij heel langz

[2012-06-24 16:29] timvdalen commented on #55
Ah! Dus dat is wat er gebeurde tijdens de presentatie. Toen stond die netdebug nog aan, dus elke keer als er iemand joinde dropte Peter zijn framerate. Daarna kon hij ineens snel lopen.

Label toegevoegd :P

[2012-06-27 12:35] KAYLukas commented on #55
Oplossing met glfw:

https://gist.github.com/3003815

[2012-06-30 15:27] KAYLukas opened #56 "Remove empty objects after destruction of headquarters"
The empty objects, which fill the empty spots of a headquarter are not removed upon destruction of a headquarter.

[2012-07-01 11:58] FerryT opened #57 "Towers shoot through walls"
This problem has been known for a while and there was a patch in development. The patch did not work for some reason so I guess it should be fixed.

[2012-07-01 14:25] timvdalen commented on #56
I'm working on a fix. Those buildings now get marked as destroyed, but when the game ends, the Terrain loop isn't called anymore so they don't get removed.
I'm actually not so sure if need this, I think we would eventually have some score board at the end of the game (blocking input).
Maybe we can even make like a scoreboard room, a new Game which contains a huge wall we display the scores on.

[2012-07-01 15:25] KAYLukas commented on #57
I'm working on a complete redesign of the collission detection algorithm, one which will
detect headshots and not limited to bounding boxes. It is going to take a while
though...

[2012-07-01 19:15] timvdalen commented on #56
This is solved.

[2012-07-01 19:15] #56 closed, assigned to nobody

[2012-07-02 12:54] FerryT commented on #57
That sounds cool, good luck!

[2012-07-03 17:44] KAYLukas opened #58 "RFC: Culling and configs"
Hello guys,

I'm proposing a culling method. I was able to increase my fps from 30 tot 40 fps by not drawing objects which are behind the camera or 300 units in front of the camera. The best way to do this is too check in the render function of a bounded object after prerender, if the bounding box is visible. This is easily done using the modelview matrix. The culling can even be extended by consi

[2015-07-12 13:18] #51 closed

[2015-07-12 13:18] #52 closed

[2015-07-12 13:18] #54 closed

[2015-07-12 13:18] #55 closed

[2015-07-12 13:18] #57 closed

[2015-07-12 13:18] #58 closed

[2015-07-14 07:50] FerryT commented on #58
Goed bezig Tim. ;)
Issue lijst aan het opschonen? :P
Was een leuk project maar is nu idd wel redelijk dood.

[2015-07-16 18:03] timvdalen commented on #58
Haha ja, nieuwe tool die al m'n repos met issues laat zien, werd iets te onoverzichtelijk.

[2015-07-17 12:44] FerryT commented on #58
Begrijpelijk :D